@model Sbh.Fr.Model.Master.SBH_TM_SOSMED

@{
    ViewBag.Title = "Delete Sosmed";
    ViewBag.ActiveMaintenance = "active";
    ViewBag.ActiveSosmed = "active";
    ViewBag.BreadCrumbMenu = "Maintenance";
    ViewBag.BreadCrumbSubMenu = "Sosmed";
    ViewBag.BreadCrumbSubSubMenu = "Delete";
}

<h2>@ViewBag.Title.</h2>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@Model.NAME</h4>
        </div>
        <div class="modal-body">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        Type
                    </dt>

                    <dd>
                        @Model.TYPE
                    </dd>

                    <dt>
                        Description
                    </dt>

                    <dd>
                        @Model.DESCRIPTION
                    </dd>

                    <dt>
                        Icon
                    </dt>

                    <dd>
                        @Model.ICON
                    </dd>

                    <dt>
                        Url
                    </dt>

                    <dd>
                        @Model.URL
                    </dd>

                    <dt>
                        Data embed
                    </dt>

                    <dd>
                        @Model.DATA_EMBED
                    </dd>

                    <dt>
                        Height
                    </dt>

                    <dd>
                        @Model.HEIGHT
                    </dd>

                    <dt>
                        Width
                    </dt>

                    <dd>
                        @Model.WIDTH
                    </dd>

                    <dt>
                        Widget Id
                    </dt>

                    <dd>
                        @Model.DATA_WIDGET_ID
                    </dd>

                </dl>
            </div>

        </div>
        <div class="modal-footer">
            @using (Html.BeginForm("ActionDelete", "Sosmed", new { id = Model.ID }))
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
            
        </div>
    </div>
</div>


