@model IEnumerable<Sbh.Fr.Model.Master.SBH_TM_SOSMED> 
@using Sbh.Fr.CommonFunction

@{
    ViewBag.Title = "Index Sosmed";
    ViewBag.ActiveMaintenance = "active";
    ViewBag.ActiveSosmed = "active";
    ViewBag.BreadCrumbMenu = "Maintenance";
    ViewBag.BreadCrumbSubMenu = "Sosmed";
    ViewBag.BreadCrumbSubSubMenu = "Index";
}

@if (ViewBag.msgSuccess != null)
{
    <div class="alert alert-success">
        <a href="#" class="close" type="button" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </a>

        <strong>
            <i class="ace-icon fa fa-check"></i>
        </strong>
        @ViewBag.msgSuccess
        <br>
    </div>
}

@if (ViewBag.msgError != null)
{
    <div class="alert alert-danger">
        <a href="#" class="close" type="button" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </a>
        <strong>
            <i class="ace-icon fa fa-times"></i>
        </strong>
        @ViewBag.msgError
        <br>
    </div>
} 

<div class="portlet box blue-hoki">
    <div class="portlet-title">
        <div class="caption">
            <a class="btn btn-success" tabindex="0" aria-controls="sample_3" href="@Url.Action("Create")" title="Create">
                <span>Create</span>
            </a>
        </div>
        <div class="actions">
            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                <i class="icon-cloud-upload"></i>
            </a>
            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                <i class="icon-wrench"></i>
            </a>
            <a class="btn btn-circle btn-icon-only btn-warning" href="javascript:;">
                <i class="icon-trash"></i>
            </a>
        </div>
    </div>
    <div class="portlet-body table-scrollable">

        <table class="table table-striped table-bordered table-hover dt-responsive  no-footer dtr-inline collapsed" width="100%" id="dynamic-table" cellspacing="0" role="grid" aria-describedby="sample_3_info" style="width: 100%;">
            <thead>
                <tr role="row">
                    <th>
                        Type
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Url
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr role="row" class="odd">
                        <td>
                            @item.TYPE
                        </td>
                        <td>
                            @item.NAME
                        </td>
                        <td>
                            <p class="overflow-ellipsis">@item.URL</p>
                        </td>
                        <td>
                            <a onclick="Modal('/Sosmed/Delete/','@item.ID','#myModal')" href="#" class="btn btn-xs btn-danger btn-circle-left">
                                <i class="icon-trash"></i>
                                <span style="color:white">Delete</span>
                            </a>
                            <a onclick="Modal('/Sosmed/Detail/','@item.ID','#myModal')" href="#" class="btn btn-xs btn-default btn-circle-right">
                                <i class="icon-plus"></i>
                                <span style="color:grey">Detail</span>
                            </a>
                            <a onclick="Modal('/Sosmed/Edit/','@item.ID','#myModal')" href="#" class="btn btn-xs btn-success btn-circle-right">
                                <i class="icon-pencil"></i>
                                <span style="color:black">Edit</span>
                            </a> 
                        </td>
                    </tr>
                }
            </tbody>


        </table>
    </div>
</div>


<script src="~/Content/Persada/datatable/jquery.dataTables.js"></script>
<script src="~/Content/Persada/datatable/jquery.dataTables.bootstrap.js"></script>
<script src="~/Content/Persada/datatable/extensions/TableTools/js/dataTables.tableTools.js"></script>
<script src="~/Content/Persada/datatable/extensions/ColVis/js/dataTables.colVis.js"></script>
<script src="~/Content/Persada/js/Helpers/StandardTable.js"></script>

<script type="text/javascript">
    //initiate dataTables plugin
    var oTable1 =
    $('#dynamic-table')
    //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
    .dataTable({
        bAutoWidth: false,
        "aoColumns": [
          null, null, null, 
          { "bSortable": false }
        ],
        "aaSorting": [],

        //,
        //"sScrollY": "300px",
        //"bPaginate": false,

        //"sScrollX": "100%",
        //"sScrollXInner": "120%",
        //"bScrollCollapse": true,
        //Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
        //you may want to wrap the table inside a "div.dataTables_borderWrap" element

        //"iDisplayLength": 10
    });
</script>
