@model Sbh.Fr.Model.Custom.ChangePassword
@{
    ViewBag.Title = "Reset password";
}

<h2>@ViewBag.Title.</h2>
@if (ViewBag.msgSuccess != null)
{
    <div class="alert alert-success">
        <a href="#" class="close" type="button" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </a>

        <strong>
            <i class="ace-icon fa fa-check"></i>
        </strong>
        @ViewBag.msgSuccess
        <br>
    </div>
}

@if (ViewBag.msgError != null)
{
    <div class="alert alert-danger">
        <a href="#" class="close" type="button" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </a>
        <strong>
            <i class="ace-icon fa fa-times"></i>
        </strong>
        @ViewBag.msgError
        <br>
    </div>
} 
@using (Html.BeginForm("ActionChangePassword", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()   
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet-title">
                            <div class="note note-info">
                                <h5 style="margin-bottom: 0px;">
                                    <i class="icon-login"></i>
                                    Change Password
                                </h5>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <form role="form">
                                <div class="form-body">

                                    <div class="form-group form-md-line-input">
                                        @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })

                                        <label for="form_control_1">Old Password</label>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })

                                        <label for="form_control_1">New Password</label>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                                        <label for="form_control_1">Confirm Password</label>
                                    </div>
                                    <div id="errorMsg"></div>

                                    <input type="submit" value="Reset" class="btn blue btn-circle-left" />
                                    <button type="button" class="btn btn-default btn-circle-right" data-dismiss="modal">Close</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



}


<script>
    var password = document.getElementById('NewPassword');
    confirm_password = document.getElementById('ConfirmPassword');
    function validatePassword() {
        if ((confirm_password.value!='')&&(password.value != confirm_password.value)) {
            document.getElementById('errorMsg').innerHTML = 'New passwords Doesn\'t Match confirm password';
            document.getElementById('errorMsg').style.color = 'red';
        } else {
            document.getElementById('errorMsg').innerHTML='';
        }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>