@model  Sbh.Fr.Model.SBH_TM_NEWS

@using Sbh.Fr.CommonFunction;
@{
    ViewBag.Title = "Detail Category";
    ViewBag.ActiveMaintenance = "active";
    ViewBag.ActiveNews = "active";
    ViewBag.BreadCrumbMenu = "Maintenance";
    ViewBag.BreadCrumbSubMenu = "Category";
    ViewBag.BreadCrumbSubSubMenu = "Detail";

    Model.DESCRIPTION = HttpUtility.HtmlDecode(Model.DESCRIPTION);
}

<h2>@ViewBag.Title.</h2>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@Model.TITLE</h4>
        </div>
        <div class="modal-body">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        Title
                    </dt>

                    <dd>
                        @Model.TITLE
                    </dd>
                    <dt>
                        Description
                    </dt>

                    <dd>
                        <textarea class="form-control tinymce" style="width:300px" name="DESCRIPTION" id="DESCRIPTION">
                            @Html.Raw(Model.DESCRIPTION)
                        </textarea>
                    </dd>
                    <dt>
                        Category
                    </dt>

                    <dd>
                        @Model.SBH_TM_CATEGORY.CATEGORY_NAME
                    </dd>

                    <dt>
                        Template
                    </dt>

                    <dd>
                        @Model.TEMPLATE
                    </dd>
                    <dd>
                        <img src="@Model.FILE_IMAGE1" class="img-medium" />
                    </dd>

                </dl>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
<script src="~/Content/tinymce/tinymce/tinymce.min.js"></script>
<script src="~/Content/tinymce/tinymce/tinymce.custom.persada.js"></script>