@model IEnumerable<Sbh.Fr.Model.Custom.CategoryQuestions>

<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="note note-info">
            <h5 style="margin-bottom: 0px;">
                <i class="fa fa-search"></i>
                List Category Questions.
            </h5>
        </div>
    </div>
    @if (ViewBag.msgSuccess != null)
    {
        <div class="alert alert-success">
            <a href="@Url.Action("Index", "Home")" class="font-red" style="float: right;" type="button" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </a>
            <strong>
                <i class="ace-icon fa fa-check"></i>
            </strong>
            @ViewBag.msgSuccess
            <br>
        </div>
    }

    @if (ViewBag.msgError != null)
    {
        <div class="alert alert-danger">
            <a href="@Url.Action("Index", "Home")" class="font-red" style="float: right;" type="button" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </a>
            <strong>
                <i class="ace-icon fa fa-times"></i>
            </strong>
            @ViewBag.msgError
            <br>
        </div>
    }
    <div class="portlet-title">
        <div class="note note-warning">
            <h5 style="margin-bottom: 0px;">
                <i class="icon-pencil"></i>
                Add Data
            </h5>
            <a href="@Url.Action("AddData", "CategoryQuestions")" class="btn btn-xs btn-default btn-circle-right">
                <i class="icon-plus"></i>
                <span style="color:grey">Add Data</span>
            </a>
        </div>
    </div>

    <div class="portlet-body">
        <div class="table-container" style="">

            <div id="datatable_ajax_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                <div class="row">
                    <div class="col-md-8 col-sm-12"><div class="dataTables_paginate paging_bootstrap_extended" id="datatable_ajax_paginate"><div class="pagination-panel"> Page <a href="#" class="btn btn-sm default prev disabled"><i class="fa fa-angle-left"></i></a><input class="pagination-panel-input form-control input-sm input-inline input-mini" maxlenght="5" style="text-align:center; margin: 0 5px;" type="text"><a href="#" class="btn btn-sm default next"><i class="fa fa-angle-right"></i></a> of <span class="pagination-panel-total">18</span></div></div><div class="dataTables_length" id="datatable_ajax_length"><label><span class="seperator">|</span>View <select name="datatable_ajax_length" aria-controls="datatable_ajax" class="form-control input-xs input-sm input-inline"><option value="10">10</option><option value="20">20</option><option value="50">50</option><option value="100">100</option><option value="150">150</option><option value="-1">All</option></select> records</label></div><div class="dataTables_info" id="datatable_ajax_info" role="status" aria-live="polite"><span class="seperator">|</span>Found total 178 records</div></div><div class="col-md-4 col-sm-12">
                        <div class="table-group-actions pull-right">
                            <span></span>
                            <select class="table-group-action-input form-control input-inline input-small input-sm">
                                <option value="">Select...</option>
                                <option value="Cancel">Cancel</option>
                                <option value="Cancel">Hold</option>
                                <option value="Cancel">On Hold</option>
                                <option value="Close">Close</option>
                            </select>
                            <button class="btn btn-sm green table-group-action-submit">
                                <i class="fa fa-search"></i> Search
                            </button>
                        </div>
                    </div>
                </div><div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-checkable dataTable no-footer" id="datatable_ajax" aria-describedby="datatable_ajax_info" role="grid">
                        <thead>
                            <tr role="row" class="heading">
                                <th class="sorting_asc" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Id &amp;nbsp;# activate to sort column descending" width="5%" style="display:none">Id&nbsp;#</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label="Category Desc activate to sort column ascending">Category Desc</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label="Created By activate to sort column ascending">Created By</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label="Created Date activate to sort column ascending">Created Date</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label="Modified By activate to sort column ascending">Modified By</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label="Modified Date activate to sort column ascending">Modified Date</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label="Status activate to sort column ascending" style="display:none">Status</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1" aria-label="Actions activate to sort column ascending">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr role="row" class="odd">
                                    <td style="display:none">
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CATEGORY_DESC)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CREATED_BY)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CREATED_TIME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LAST_MODIFIED_BY)
                                    </td>
                                    <td style="text-align: justify;">
                                        @Html.DisplayFor(modelItem => item.LAST_MODIFIED_TIME)
                                    </td>
                                    <td style="display:none">
                                        @Html.DisplayFor(modelItem => item.ROW_STATUS)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Remove", "CategoryQuestions", new { id = item.ID })" class="btn btn-xs btn-danger btn-circle-left">
                                            <i class="icon-trash"></i>
                                            <span style="color:white">Delete</span>
                                        </a>
                                        <a href="@Url.Action("Detail", "CategoryQuestions", new { id = item.ID })" class="btn btn-xs btn-default btn-circle-right">
                                            <i class="icon-plus"></i>
                                            <span style="color:grey">Detail</span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
