@model IEnumerable<Sbh.Fr.Model.Custom.QuestionAndAnswerCustoms>

@{
    var x = -1;
    var y = -1;
}

<div class="col-md-12">
    <div class="note note-info">
        <h5 style="margin-bottom: 0px;">
            <i class="fa fa-comments-o"></i>
            Question and Answer Session
            <br />
            <a href="#" class="mt-sweetalert font-green mt-intalic" data-type="info" style="font-size: smaller;">
                @DateTime.Now.ToString()
            </a>
        </h5>
    </div>
    @if (ViewBag.msgSuccess != null)
    {
        <div class="alert alert-success">
            <a href="@Url.Action("Index", "Home")" class="close" type="button" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </a>
            <strong>
                <i class="ace-icon fa fa-check"></i>
            </strong>
            @ViewBag.msgSuccess
            <br>
        </div>
    }

    @if (ViewBag.msgError != null)
    {
        <div class="alert alert-danger">
            <a href="@Url.Action("Index", "Home")" class="close" type="button" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </a>
            <strong>
                <i class="ace-icon fa fa-times"></i>
            </strong>
            @ViewBag.msgError
            <br>
        </div>
    }
    @foreach (var item in Model)
    {
        if (item.IdQuestions != x)
        {
            <div class="panel panel-white post">
            <div class="post-heading" style="padding-left: 0px;">
                <div class="col-md-12">
                    <div class="col-md-1" style="padding-left: 0px;">
                        <div class="pull-left image">
                            <img alt="" class="img-circle" src="~/Content/img/avatar.png" />
                        </div>
                    </div>

                    <div class="col-md-10">
                        <div class="pull-left meta">
                            <div class="title h5">
                                <span hidden="hidden">
                                    @Html.DisplayFor(modelItem => item.IdQuestions)
                                </span>
                                <a href="#"><b>@Html.DisplayFor(modelItem => item.QuestionsName)</b></a>
                                <br />
                                @if (item.SumComment != "0")
                                {
                                    <a href="javascript:;" class="btn font-yellow-gold" style="font-size: 0px;padding-left: 0px;">
                                        @for (int i = 0; i < item.MostComment; i++)
                                        {
                                            <i class="fa fa-star"></i>
                                        }
                                    </a>
                                }
                            </div>
                            <h6 class="text-muted time" style="margin-top:0px">
                                @Html.DisplayFor(modelItem => item.DateQustion)
                            </h6>

                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="post-description" style="text-align:justify; font-weight:bold; font-size:12px;">
                @Html.DisplayFor(modelItem => item.TitleQuestions)
            </div>
            <div class="post-description" style="text-align:justify">
                @Html.DisplayFor(modelItem => item.Questions)

                <div class="stats">
                    @if (item.IdQuestions != x)
                    {
                        <div class="col-md-12;" id="div_@item.IdQuestions.ToString()" hidden="hidden">
                            @foreach (var sbItm in Model)
                            {
                                if (sbItm.IdQuestionsAnswer == item.IdQuestions)
                                {
                                    y = sbItm.IdQuestionsAnswer;
                                    <div class="panel panel-white post">
                                        <div class="post-heading">
                                            <div class="pull-left image">
                                                <img src="~/Content/img/avatar.png" class="img-circle avatar" alt="user profile image">
                                            </div>
                                            <div class="pull-left meta">
                                                <div class="title h5">
                                                    <a href="#"><b>@Html.DisplayFor(modelItem => sbItm.AnswerName)</b></a>
                                                </div>
                                                <h6 class="text-muted time">@Html.DisplayFor(modelItem => sbItm.DateAnswer)</h6>
                                            </div>
                                        </div>
                                        <div class="post-description" style="text-align:justify">
                                            @Html.DisplayFor(modelItem => sbItm.Answer)
                                            <div class="stats">
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        if (item.SumComment != "0")
                        {
                            <a href="javascript:;" class="btn font-red" style="font-size: 12px;">
                                <i class="fa fa-comments"></i> @item.SumComment
                            </a>
                        }
                        if (y == item.IdQuestions)
                        {
                            <a href="javascript:;" class="btn" onclick="showDiv(@y.ToString())" style="font-size: 12px;" id="btn-Comments">
                                <i class="icon-bubble"></i>
                                <span>Comments</span>
                            </a>

                            <a href="javascript:;" class="btn font-red" onclick="hideDiv(@item.IdQuestions.ToString())" style="font-size: 12px; display:none"
                                id="btn-Close">
                                <i class="icon-close"></i>
                                <span>Close</span>
                            </a>
                        }
                    }

                    <a href="@Url.Action("Reply", "Answer" , new { id=item.IdQuestions })" class="btn font-purple" style="font-size: 12px;">
                        <i class="fa fa-paper-plane-o"></i>
                        <span>Reply</span>
                    </a>

                </div>
            </div>
        </div>
        }
        x = item.IdQuestions;
    }

</div>


<script type="text/javascript">
    $(function () {

    });
    function showDiv(id) {
        $("#div_" + id).show();
        $('a#btn-Comments').css({ 'display': 'none' });//use 'none' instead of 'block' to hide
        $('a#btn-Close').css({ 'display': '' });
    }
    function hideDiv(id) {
        $("#div_" + id).hide();
        $('a#btn-Comments').css({ 'display': '' });//use 'none' instead of 'block' to hide
        $('a#btn-Close').css({ 'display': 'none' });
    }
</script>
