@model Sbh.Fr.Model.SBH_TM_SLIDESHOW
@{
    ViewBag.Title = "Delete Slideshow";
    ViewBag.ActiveMaintenance = "active";
    ViewBag.ActiveSlideshow = "active";
    ViewBag.BreadCrumbMenu = "Maintenance";
    ViewBag.BreadCrumbSubMenu = "Slideshow";
    ViewBag.BreadCrumbSubSubMenu = "Delete";

    Model.CONTENT_DESCRIPTION = HttpUtility.HtmlDecode(Model.CONTENT_DESCRIPTION);
}

<h2>@ViewBag.Title.</h2>


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@Model.TITTLE</h4>
        </div>
        <div class="modal-body">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        Content
                    </dt>

                    <dd>
                        <textarea class="form-control tinymce" style="width:300px" name="DESCRIPTION" id="DESCRIPTION">
                            @Html.Raw(Model.CONTENT_DESCRIPTION)
                        </textarea>
                    </dd>

                    <dt>
                        Class Item
                    </dt>

                    <dd>
                        @Model.CLASS
                    </dd>
                    <dt>
                        Url
                    </dt>

                    <dd>
                        @Model.URL
                    </dd>

                    <dt hidden>
                        Photo
                    </dt>

                    <dd hidden>
                        <img src="@Model.PHOTO_PATH" class="img-medium" />
                    </dd>

                </dl>
            </div>

        </div>
        <div class="modal-footer">
            @using (Html.BeginForm("ActionDelete", "Slideshow", new { id = Model.ID }))
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> 
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/Content/tinymce/tinymce/tinymce.min.js"></script>
<script src="~/Content/tinymce/tinymce/tinymce.custom.persada.js"></script>