<div class="page-prefooter">
    <div class="container">
        <div class="row">
            <div class="col-md-12 footer-block">
                <div class="col-md-3">
                    <a onclick="Modal('/Home/About/','','#myModal')" href="#">
                        <i class="icon-info"></i>
                        <span class="title">About As</span>
                    </a>
                    &nbsp;&nbsp;&nbsp;
                    <a onclick="Modal('/Home/ContactUs/', '', '#myModal')" href="#">
                        <i class="icon-call-end"></i>
                        <span class="title">Contact Us</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <div class="blog-single-sidebar-recent">
                        <h5 class="blog-sidebar-title uppercase">Dunia Ibu &amp; Anak</h5>
                        <ul>
                            <li>
                                <a href="@Url.Action("ListNewsBox", "News", new {categoryId = 1 })">Laporan Utana</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ListNewsBox", "News", new {categoryId = 2 })">Edukasi</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ListNewsBox", "News", new {categoryId = 3 })">Psikologi</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ListNewsBox", "News", new {categoryId = 4 })">Sehat </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ListNewsBox", "News", new {categoryId = 5 })">Cantik</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ListNewsBox", "News", new {categoryId = 6 })">Kehamilan</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="blog-single-sidebar-links">
                        <h5 class="blog-sidebar-title uppercase">Useful Links</h5>
                        <ul>
                            <li>
                                <a href="javascript:;">Links 1</a>
                            </li>
                            <li>
                                <a href="javascript:;">Links 2</a>
                            </li>
                            <li>
                                <a href="javascript:;">Links 3</a>
                            </li>
                            <li>
                                <a href="javascript:;">Links 4</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="blog-single-sidebar-ui">
                        <h5 class="blog-sidebar-title uppercase">User</h5>
                        <a href="javascript:;">
                            <img src="~/Content/img/avatar1.jpg" class="img-circle" />
                        </a>
                        <a href="javascript:;">
                            <img src="~/Content/img/avatar2.jpg" class="img-circle" />
                        </a>
                        <a href="javascript:;">
                            <img src="~/Content/img/avatar3.jpg" class="img-circle" />
                        </a>
                        <a href="javascript:;">
                            <img src="~/Content/img/avatar4.jpg" class="img-circle" />
                        </a>
                        <a href="javascript:;">
                            <img src="~/Content/img/avatar6.jpg" class="img-circle" />
                        </a>
                        <a href="javascript:;">
                            <img src="~/Content/img/avatar7.jpg" class="img-circle" />
                        </a>
                    </div>

                </div>
                
            </div>
            <div class="col-md-3 col-sm-6 col-xs12 footer-block">
                <span class="title">Others</span>
            </div>
        </div>
    </div>
</div>